<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 <configuration>
    <properties resource="dbconfig.properties"></properties>
    <!-- 开启驼峰命名规则 -->
    <settings>
      <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!-- 为java对象起别名 -->
    <typeAliases>
       <typeAlias type="com.zrf.mybatis.bean.Employee" alias="emp"/>
    </typeAliases>
    <environments default="dev_oracle">
      <environment id="dev_mysql">
        <transactionManager type="JDBC"/>
        <dataSource type="POOLED">
          <property name="driver" value="${jdbc.driver}"/>
            <property name="url" value="${jdbc.url}"/>
            <property name="username" value="${jdbc.username}"/>
            <property name="password" value="${jdbc.password}"/>
        </dataSource>
      </environment>
      <environment id="dev_oracle">
         <transactionManager type="JDBC"/>
         <dataSource type="POOLED">
            <property name="driver" value="${orcl.driver}"/>
            <property name="url" value="${orcl.url}"/>
            <property name="username" value="${orcl.username}"/>
            <property name="password" value="${orcl.password}"/>
         </dataSource>
      </environment>
    </environments>
    <!-- 支持多数据支持 -->
    <databaseIdProvider type="DB_VENDOR">
      <!-- 为不同的数据库厂商起别名 -->
      <property name="MySQL" value="mysql"/>
      <property name="Oracle" value="oracle"/>
      <property name="SQL Server" value="sqlserver"/>
    </databaseIdProvider>
    <mappers>
      <mapper resource="EmployeeMapper.xml"/>
    </mappers>
 </configuration>